@media only screen and (max-width:668px) {
    body {
        background-color: #fff;
    }

    .tittle,
    .container {
        width: 100%;
    }

    .container {
        margin-top: 0px;
    }


    .Module-notes {
        display: grid;
        grid-template-columns: 1fr;
        align-content: stretch;
    }



    .Module-notes-1 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }




}

@media only screen and (min-width:689px) and (max-width: 991px) {

    .tittle,
    .container {
        width: 100%;
    }

    .Module-notes {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-content: stretch;
    }

    .Module-notes-1 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
}