* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@500;600&display=swap');

:root {
    --body-color: #091122;
    --primary-color: #0f172a;
    --secondary-color: #ececec;
    --opstional-color: #758283;
    --btn-color: #538FFB;

}

body {
    font-family: 'Be Vietnam Pro', sans-serif;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-shadow: 2px 0px 3px rgba(20, 47, 164, 0.49);
}

h1 {
    text-shadow: 2px 0px 4px rgba(77, 139, 180, 0.87);
}

h2 {
    padding: 10px 0;
}

a {
    text-decoration: none;
    color: var(--secondary-color);
}

li {
    list-style: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

hr {
    margin-top: 7px;
    border: 0;
    height: 2.2px;
    background-image: linear-gradient(to right, rgba(76, 132, 185, 0), rgba(139, 110, 110, 0.75), rgba(0, 0, 0, 0));
}

.container {
    width: 910px;
    background-color: var(--body-color);
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    padding: 30px;
    border-radius: 12px;
    -webkit-box-shadow: 5px 5px 11px 5px rgba(0, 0, 0, 0.71);
    box-shadow: 5px 5px 11px 5px rgba(0, 0, 0, 0.71);
}

.tittle {
    text-align: center;
}

.Module-notes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 17px;
    grid-column-gap: 8px;
    justify-items: center;
    padding: 15px;
    -webkit-box-shadow: 5px 5px 11px 5px rgba(0, 0, 0, 0.71);
    box-shadow: 5px 3px 28px -6px rgb(0 0 0 / 71%)
}

.Module-notes-1 {
    -webkit-box-shadow: 5px 5px 11px 5px rgba(0, 0, 0, 0.71);
    box-shadow: 5px 5px 11px 5px rgba(0, 0, 0, 0.71);
    padding: 15px;
    width: 270px;
    text-align: center;
    overflow: hidden;
    border-radius: 10px;
    overflow: hidden;
}

.items {
    color: rgb(255, 255, 255);
    font-size: 16px;
    line-height: 16px;
    padding: 4px;
    border-radius: 20px;
    font-family: Georgia, serif;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%);
    box-shadow: rgba(0, 0, 0, 0.71) 5px 5px 11px 5px;
    border: 2px solid rgb(28, 110, 164);
    display: inline-block;
    margin-top: 5px;
}

.items:hover {
    background: #1C6EA4;
}

.items:active {
    background: #144E75;
}


.module-img {
    width: 100%;
    overflow: hidden;
    display: block;
}

.module-img:hover img {
    transform: scale(1.4);
    transition: transform 2s ease-in-out;
}

.module-img img {
    border-radius: 15px;
}

.container-br3e {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.footer h5 {
    font-style: italic;
    letter-spacing: 2px;
    padding-bottom: 5px;
}

.footer p {
    font-size: 13px;
    letter-spacing: 1.7px;
}

.footer span {
    color: var(--btn-color);
}

.footer {
    align-items: center;
    margin-top: 0;
    -webkit-box-shadow: 5px 15px 11px 5px rgba(0, 0, 0, 0.71);
    box-shadow: 5px 15px 11px 5px rgba(0, 0, 0, 0.71);
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 16px;
}